/**
 * Feedbox - PST 3 Custom Element and Layout Styling
 * Coding by Syaifur Rijal Syamsul
 * Email: slitaz.ipul@gmail.com
 * https://github.com/ipulmisaja
 */

@font-face {
	font-family: Ubuntu;
	src: url('../assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

* {
	font-family: Ubuntu;
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-font-smoothing: antialiased;
  	-o-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}

.bottom_card > p {
	color: white;
	font-size: 2em;
}

.button_area {
	margin-top: 5%;
	width: 100%;
}

.button--cancel, 
.button--accept {
	width: 48%;
}

.button--accept {
	margin-left: 1%;
}

.button--cancel {
	background-color: red;
	margin-right: 1%;
}

.card {
	display: inline-block;
	text-align: center;
	width: 300px;
}

.card-report {
	margin-top: 25px;
	text-align: center;
}

.dialog_area {
	height: 180px;
	padding: 20px;
	width: 500px;
}

.dialog_bottom_area {
	margin-top: 20px;
}

.dialog_bottom_area > a {
	color: #009688;
	font-weight: bold;
}

.dialog_content_area {
	border-bottom: 1px solid #009688;
}

.dialog_top_area {
	border-bottom: 1px solid #009688;
	display: inline-block;
	padding-bottom: 10px;
	width: 100%;
}

.dialog_top_area > span {
	font-size: 20pt;
	font-weight: bolder;
}

.form_area {
	margin: 10%;
}

.form_area > ons-input {
	width: 100%;
}

.flot-base, 
.flot-overlay {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.flot-x-axis {
margin-left: 40px;
}

.flot-y-axis {
	margin-left: 20px;
}

.flot-tick-label {
	color: white;
}

.home_area, 
.home_header, 
.home_subheader {
	text-align: center;
	width: 90%;
}

.home_area {
	margin-right: auto;
	margin-left: auto;
}

.home_header {
	margin-top: 5%;
	margin-bottom: 10px; 
	margin-left: auto;
	margin-right: auto;
}

.home_header > p {
	color: white;
	font-size: 2em;
	font-weight: lighter;
	margin-bottom: 10px;
}

.home_subheader {
	margin-top: 10px;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
}

.home_subheader > label {
	color: white;
	font-size: 1.5em;
}

.home_section {
	height: 300px;
	margin-top: 150px;
	padding: 10px;
	text-align: center;
}

.home_section > ons-button {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	margin:0 50px;
	height: 100%;
	padding: 20px;
	text-align: center;
}

.input-filter {
	color: #aaa;
	font-size: 16px;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
	text-align: center;
}

.input-filter input {
	color: white;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
	font-size: 1rem;
	height: 32px;
	outline: none;
	width: 250px;	
	text-indent: 32px;
}

.input-filter .ion-android-calendar {
	color: white;
	position: absolute;
	top: 30px;
	left: 520px;
	font-size: 26px;
}

.list__item--material__thumbnail {
	width: 50px;
	border-radius: 0%;
}

.list__item__title,
.label-right {
	color: #009688;
} 

.menu_list > ons-list-item {
	height: 50px;
}

.menu_sidebar {
	background-color: #009688;
	height: 26%;
	width: 100%;
}

.menu_sidebar > img {
	margin-left: 6%;
	margin-top: 8%;
	width: 25%;
}

.menu_sidebar > label {
	color: white;
	font-size: 0.9em;
	font-weight: lighter;
	margin-left: 6%;
}

.menu_sidebar > span {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 6%;
}

.middle_card > img {
	width: 60%;
}

.navigation-bar--report, .report_tab {
	background-color: #263238;
}

.page--home_feedbox__background, 
.page--survey__background, 
.page--suggestion-box__background {
	background-image: url('../assets/image/wa_background.jpg');
}

.page--root_background__background {
	background-image: url('../assets/image/survey_1024x768.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
} 

.pie  {
	text-align: center;
}

.tabbar_top_area {
	background-color: #f6f6f6;
	height: 100%;
	padding-top: 20px;
	padding-left: 10px;
	width: inherit;
}

.right > ons-toolbar-button {
	margin-right: 15px !important;
}

.root_content {
	margin: 8% auto;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 60%;
}

.root_content > img {
	margin: auto;
	width: 40%;
}

.root_content > label {
	color: white;
	font-size: 15pt;
}

.root_content > ons-button {
	background-color:#009688 !important;
	border-radius: 30px;
	font-weight: bold;
	margin-top: 10%;
	width: 60%;
}

.root_content > p {
	color: white;
	font-size: 2em;
	margin-top: 3%;
	margin-bottom: 10px;
}

.root_content .span_feedbox {
	font-weight: bolder;
}

.root_content .span_pst {
	font-weight: lighter;
}

.root_content .span_sup {
	font-size: 0.7em;
	vertical-align: super;
}

.suggestion-box_area {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
}

.suggestion-box_logo {
	text-align: center;
	margin: 0 auto;
}

.suggestion-box_logo > p {
	color: white;
	font-size: 1.4em;
	margin: 0;
}

.survey_button_area > ons-button {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	margin:0 40px;
	height: 100%;
	padding: 40px;
	text-align: center;
}

.survey_button_area {
	margin-top: 10%;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.survey_content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.survey_question {
	padding-top: 60px;
	text-align: center;
	width: 100%;
}

.survey_question > P {
	color: white;
	font-size: 3.5em;
	font-weight: 500;
}

.text-input--material {
	color: white;
	font-size: 1rem;
}

.top_card {
	margin-bottom: 20px;
	margin-top: 10px;
}

.top_card > span {
	color: white;
	font-size: 1rem;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"] {
	height: 45px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 18px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 130px;
  max-width: 100%;
  resize: none;
}

#contact ons-button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #009688;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}