<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

    <!-- loader.css monaca -->
    <link rel="stylesheet" href="components/loader.css">
    <!-- menambahkan style onsen ui : onsenui.css -->
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <!-- menambahkan style komponen onsen ui : onsen-css-components.css -->
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <!-- menambahkan custom style -->
    <link rel="stylesheet" href="css/style.css">   

    <!-- loader.js monaca -->
    <script src="components/loader.js"></script>
    <!-- AngularJS -->
    <script src="lib/angular/angular.min.js"></script>
    <!-- Onsen UI -->
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <!-- Angular Onsen UI -->
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <!-- Chart.js Library -->
    <script src="lib/angular-chartjs/Chart.min.js"></script>
    <!-- Angular-Chartjs Library -->
    <script src="lib/angular-chartjs/angular-chart.min.js"></script>
    <!-- my angular module -->
    <script src="js/app.js"></script>
    <!-- my angular service -->
    <script src="js/service.js"></script>
    <!-- my angular controller -->
    <script src="js/controller.js"></script> 
</head>

<body ng-app="myApp">

    <!-- root : halaman selamat datang dan input nama wilayah kerja bps -->
    <ons-navigator var="myRootNavigator" animation="slide-md">
        <ons-page modifier="root_background">
            <div class="root_content">
                <img src="./assets/icons/icon.png">
                <p>
                    <span class="span_feedbox">Feedbox - </span>
                    <span class="span_pst">PST</span>
                    <span class="span_sup">&reg;</span>
                </p>
                <label>Aplikasi Three Color BPS Provinsi Sulawesi Barat</label>
                <ons-button class="home_button" modifier="medium" ng-click="myRootNavigator.pushPage('menu.html')">
                    Mulai
                </ons-button>
            </div>
        </ons-page>
    </ons-navigator>

    <!-- template menu -->
    <ons-template id="menu.html">
        <ons-splitter var="myMenu" ng-controller="MenuCtrl as menu">
            <ons-splitter-side side="left" width="25%" animation="overlay" collapse swipeable>
                <ons-page>
                    <div class="menu_sidebar">
                        <img src="./assets/icons/survey.svg"><br><br>
                        <span>BPS Provinsi Sulawesi Barat</span><br>
                        <label>Pelayanan Statistik Terpadu</label>
                    </div>
                    <ons-list class="menu_list" modifier="noborder">
                        <ons-list-item modifier="nodivider" ng-click="menu.load('home.html')" tappable>
                            <i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp;Dashboard
                        </ons-list-item>
                        <ons-list-item modifier="nodivider" ng-click="" tappable>
                            &nbsp;&nbsp;<i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;&nbsp;Bantuan
                        </ons-list-item>
                    </ons-list>
                </ons-page>
            </ons-splitter-side>
            <ons-splitter-content page="home.html"></ons-splitter-content>
        </ons-splitter>
    </ons-template>

    <!-- template home -->
    <ons-template id="home.html">
        <ons-page modifier="home_feedbox" ng-controller="HomeCtrl">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="myMenu.left.open()">
                        <ons-icon icon="md-menu"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Dashboard</div>
                <div class="right">
                    <ons-toolbar-button ng-click="popover.show($event)" tappable>
                        <ons-icon icon="ion-android-more-vertical">
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div class="home_header">
                <p>Selamat Datang, Dashboard Feedbox - PST</p>
            </div>
            <div class="home_subheader">
                <label>Aplikasi Three Color Survey dan Kotak Saran</label>
            </div>
            <div class="home_area">
                <section class="home_section">
                    <ons-button ng-click="myRootNavigator.pushPage('survey.html')">
                        <img src="assets/icons/dashboard/survey.png" width="200px" height="200px"><br>
                        <label>Three Color Survey</label>
                    </ons-button>
                    <ons-button ng-click="myRootNavigator.pushPage('list-komentar.html')">
                        <img src="assets/icons/dashboard/comment.png" width="200px" height="200px"><br>
                        <label>Kotak Saran</label>
                    </ons-button>
                    <ons-button ng-click="myRootNavigator.pushPage('report.html')">
                        <img src="assets/icons/dashboard/report.png" width="200px" height="200px"><br>
                        <label>Laporan</label>
                    </ons-button>
                </section>   
            </div>
        </ons-page>
    </ons-template>

    <!-- template survey -->
    <ons-template id="survey.html">
        <ons-page modifier="survey" ng-controller="SurveyCtrl">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Three Color Survey</div>
            </ons-toolbar>
            <div class="survey_content">
                 <div class="survey_question">
                    <p>Bagaimana Pelayanan Kami ?</p>
                </div>                
                <section class="survey_button_area">
                    <ons-button ng-click="save('Sangat Puas')">
                        <img src="assets/icons/face/sangat_puas_big.png"><br>
                        <label style="color: white">Sangat Puas</label>
                    </ons-button>
                    <ons-button ng-click="save('Puas')">
                        <img src="assets/icons/face/puas_big.png"><br>
                        <label style="color: white">Puas</label>
                    </ons-button>
                    <ons-button ng-click="save('Tidak Puas')">
                        <img src="assets/icons/face/tidak_puas_big.png"><br>
                        <label style="color: white">Tidak Puas</label>
                    </ons-button>
                </section>
            </div>
        </ons-page>
    </ons-template>    

    <!-- template list-komentar -->
    <ons-template id="list-komentar.html">
        <ons-page ng-controller="ListKomentarCtrl">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Kotak Saran</div>
            </ons-toolbar>
            <ons-list>
                <ons-list-item modifier="material" class="item" ons-lazy-repeat="delegate">
                    <div class="left">
                        <img class="list__item__thumbnail" src="./assets/icons/user.svg" alt="thumb">
                    </div>
                    <div class="center">
                        <span class="list__item__title">{{ item.orang }}</span>
                        <span class="list__item__subtitle">{{ item.komentar }}</span>
                    </div>
                    <div class="right">
                        <span class="list__item__subtitle label-right">{{ item.t_kunjungan }}</span>
                    </div>
                </ons-list-item>
            </ons-list>     
            <ons-fab position="bottom right" ng-click="myRootNavigator.pushPage('suggestion-box.html')" ripple>
                <ons-icon icon="md-plus"></ons-icon>
            </ons-fab>       
        </ons-page>
    </ons-template>

    <!-- template suggestion box -->
    <ons-template id="suggestion-box.html">
        <ons-page modifier="suggestion-box" ng-controller="KomentarCtrl">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Kotak Saran</div>
            </ons-toolbar>
            <div class="container">  
                <form id="contact">
                    <h3>Kotak Saran</h3>
                    <h4>Kritik dan Saran Anda Dapat Membantu Meningkatkan Pelayanan Kami</h4>
                    <fieldset>
                        <input placeholder="Nama Anda" type="text" tabindex="1" ng-model="nama" required autofocus>
                    </fieldset>
                    <fieldset>
                        <textarea placeholder="Ketikkan Kritik Dan Saran Anda...." tabindex="2" ng-model="komentar" required></textarea>
                    </fieldset>
                    <fieldset>
                        <ons-button modifier="accept" type="submit" ng-click="save(nama,komentar)"><i class="ion-checkmark-circled"></i>&nbsp;&nbsp;Simpan</ons-button>
                    </fieldset>
                </form>
            </div>          
        </ons-page>
    </ons-template>

    <!-- template report -->
    <ons-template id="report.html">
        <ons-page>
            <ons-toolbar modifier="material report">
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Laporan</div>
            </ons-toolbar>
            <ons-tabbar position="top" animation="slide">
                <ons-tab class="report_tab" page="total-pengunjung-setahun.html" label="Total Pengunjung" active="true"></ons-tab>
                <ons-tab class="report_tab" page="total-pengunjung-bulan.html" label="Pengunjung Perbulan"></ons-tab>
                <ons-tab class="report_tab" page="total-pengunjung-hari.html" label="Pengunjung Perhari"></ons-tab>
            </ons-tabbar>
        </ons-page>
    </ons-template>
    
    <!-- halaman Tab Bar Total Pengunjung Setahun -->
    <ons-template id="total-pengunjung-setahun.html">
        <ons-page ng-controller="JmlPengunjungTahunCtrl">
            <div class="tabbar_top_area">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors" width="87" height="41"></canvas>
            </div>  
        </ons-page>
    </ons-template>

    <!-- Halaman Tab Bar Total Pengunjung Dalam Bulan Berjalan -->
    <ons-template id="total-pengunjung-bulan.html">
        <ons-page ng-controller="JmlPengunjungBulanCtrl">
            <div class="tabbar_top_area">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors" width="87" height="41"></canvas>
            </div>
        </ons-page>
    </ons-template>

    <!-- Halaman Tab Bar Donut Chart -->
    <ons-template id="total-pengunjung-hari.html">
        <ons-page ng-controller="JmlPengunjungHariCtrl">
            <div class="tabbar_top_area">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors" width="87" height="41"></canvas>
            </div>
        </ons-page>    
    </ons-template>

    <!-- top right dropdown menu -->
    <ons-template id="popover.html">
        <ons-popover direction="down" cancelable>
            <ons-list>
                <ons-list-item tappable>
                    <i class="zmdi zmdi-info zmdi-hc-fw"></i>&nbsp;&nbsp;Backup Data
                </ons-list-item>
                <ons-list-item ng-controller="PopoverCtrl" ng-click="reset()" tappable>
                    <i class="zmdi zmdi-info zmdi-hc-fw"></i>&nbsp;&nbsp;Reset Data
                </ons-list-item>
            </ons-list>
        </ons-popover>
    </ons-template>

    <!-- tentang aplikasi -->
    <ons-dialog var="tentang" ng-controller="TentangCtrl">
        <div class="dialog_area">
            <div class="dialog_top_area">
                <span>FEEDBOX - PST</span>                 
            </div>
            <div class="dialog_content_area">
                <p>Simple Three Color Survey & Suggestion Box<br>
                &copy; 2017, Seksi DLS BPS Provinsi Sulawesi Barat<br>
                &copy; 2017, {{ data.pembuat }} &lt;{{ data.email }}&gt;<br>              
                </p>
            </div>
            <div class="dialog_bottom_area">
                <a ng-click="tentang.hide()">Tutup</a>
            </div>
        </div>
    </ons-dialog>  
</body>
</html>
